# For everyone
aiohttp
redis
ujson
unidecode
pyjwt
uvloop
sentry-sdk
babel
python-dateutil
pytz
aionotify
facepy

# For Google import
google-api-python-client
oauth2client

# For dev
pytest
twine
isort
black
