# For everyone
aiohttp
aioredis
ujson
unidecode
pyjwt
uvloop
raven
raven-aiohttp
babel
python-dateutil
pytz
aionotify
facepy

# For Google import
google-api-python-client
oauth2client

# For dev
pytest
isort
